/*
 * # BROWNIE FUDGE SUNDAE V2
 * ===========================


/* ## Basic Breakpoints
 * ====================
 
@media( min-width: 640px )  {}
@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {}

/* ## Extra Breakpoints
 * ====================

@media( min-width: 400px )  {}
@media( min-width: 640px )  {}
@media( min-width: 800px )  {}
@media( min-width: 1040px ) {}
@media( min-width: 1200px ) {}
@media( min-width: 1480px ) {}
@media( min-width: 1600px ) {}
@media( min-width: 1940px ) {}

/*
 *
 *	## Colors
 *	=========
 *
 *	#FFFFFF : light
 *	#F0F7F7 : off-light
 *	#95A2A6 : neutral
 *	#D5E0E3 : off-neutral
 *	#282F33 : dark
 *	#626D73 : off-dark
 *	#1D2225 : black
 *
 */


/*
 * Global Variable
 */

:root {
	--light : #FFFFFF;
	--off-light : #F0F7F7;
	--neutral : #95A2A6;
	--off-neutral : #D5E0E3;
	--dark : #282F33;
	--off-dark : #626D73;
	--black : #1D2225;

	--container-width: 300px;
	--space-one : calc(var(--container-width)/6);
	--space-half : calc(var(--space-one)/2);
	--space-three-quarter : calc(var(--space-half)*1.5);
	--space-double : calc(var(--space-one)*2);
}

@media( min-width: 640px )  {
	:root {
		--container-width: 600px;
		--space-one : calc(var(--container-width)/12);
	}
}

@media( min-width: 1040px ) {
	:root {
		--container-width: 1000px;
	}
}

@media( min-width: 1480px ) {
	:root {
		--container-width: 1440px;
	}
}



body, .body {
	position: relative;
	color: var(--off-dark);
	font-family: novel-sans-pro, Arial, sans-serif;
	font-weight: 300;
	font-size: 1.4rem;
	line-height: 1.375;
	background-color: var(--light);
}

h1, h2, h3, h4, h5, h6, 
p, small, label {
	margin: 0;
	display: inline;
	color: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	letter-spacing: inherit;
}

hr {
	border-color: var(--dark);
}

strong, .strong { font-weight: 800; }
em, .em { font-style: italic; }



/*
 *
 *	Typography
 *
 */

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: novel-sans-pro, 'Arial Black', Arial, sans-serif;
	line-height: 1.25;
}

h1, .h1 { font-size: 4.2rem; }
h2, .h2 { font-size: 3.4rem; }
h3, .h3 { font-size: 2.6rem; }
h4, .h4 { font-size: 2.0rem; }
h5, .h5 { font-size: 1.6rem; }
h6, .h6 { font-size: 1.4rem; }
p, .p 	{ font-size: 1.4rem; }
small, .small { font-size: 0.9rem; }
label, .label { font-size: 1.1rem; }

@media( min-width: 640px )  {
	h1, .h1 { font-size: 8.4rem; }
	h2, .h2 { font-size: 6.0rem; }
	h3, .h3 { font-size: 3.6rem; }
	h4, .h4 { font-size: 2.4rem; }
	h5, .h5 { font-size: 1.8rem; }
	h6, .h6 { font-size: 1.4rem; }
	p, .p 	{ font-size: 1.4rem; }
	small, .small { font-size: 0.9rem; }
	label, .label { font-size: 1.1rem; }
}

@media( min-width: 1040px ) {
	h1, .h1 { font-size: 9.6rem; }
	h2, .h2 { font-size: 6.0rem; }
	h3, .h3 { font-size: 3.6rem; }
	h4, .h4 { font-size: 2.4rem; }
	h5, .h5 { font-size: 1.8rem; }
	h6, .h6 { font-size: 1.5rem; }
	p, .p 	{ font-size: 1.5rem; }
	small, .small { font-size: 1.0rem; }
	label, .label { font-size: 1.2rem; }
}

@media( min-width: 1480px ) {
	h1, .h1 { font-size: 13.0rem; }
	h2, .h2 { font-size: 9.1rem;  }
	h3, .h3 { font-size: 5.2rem;  }
	h4, .h4 { font-size: 3.2rem;  }
	h5, .h5 { font-size: 2.6rem;  }
	h6, .h6 { font-size: 1.8rem;  }
	p, .p 	{ font-size: 1.8rem;  }
	small, .small { font-size: 1.3rem; }
	label, .label { font-size: 1.5rem; }
}




/*
 *
 *	Buttons
 *
 */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
	height: var(--space-three-quarter);
	padding: 0 calc(var(--space-three-quarter)/2);
	font-size: 1.2rem;
	line-height: var(--space-three-quarter);
	color: var(--off-light);
	background-color: var(--dark);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.2);
	border: none;
	border-radius: var(--space-three-quarter);
	filter: brightness(1);
	-webkit-transition: filter 0.2s;
	-moz-transition: filter 0.2s;
	transition: filter 0.2s;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
	filter: brightness(1.2);
}

input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus,
button:focus,
.button:focus {
    outline: 0;
    box-shadow: 0px 2px 6px rgba(20,20,10,0.5);
}


.button img {
	pointer-events: none;
	width: 16px;
	display: inline-block;
	margin-bottom: -4px;
	margin-left: 3px;
}

.button-large {
	height: calc( var(--space-three-quarter)*1.5 - 10 );
	padding: 0 calc( (var(--space-three-quarter)*1.5 - 10px )/2 );
	font-size: 1.4rem;
	line-height: calc( var(--space-three-quarter)*1.5 - 10px );
	border-radius: calc( var(--space-three-quarter)*1.5 - 10px );
}

@media( min-width: 640px )  {
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		height: var(--space-three-quarter);
		padding: 0 calc(var(--space-three-quarter)/2);
		font-size: 1.2rem;
		line-height: var(--space-three-quarter);
		border-radius: var(--space-three-quarter);
	}

	.button-large {
		height: calc( var(--space-three-quarter)*1.5 );
		padding: 0 calc( (var(--space-three-quarter)*1.5)/2 );
		font-size: 1.6rem;
		line-height: calc( var(--space-three-quarter)*1.5 );
		border-radius: calc( var(--space-three-quarter)*1.5 );
	}
}
@media( min-width: 1040px ) {
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		height: var(--space-half);
		padding: 0 calc(var(--space-half)/2);
		font-size: 1.3rem;
		line-height: var(--space-half);
		border-radius: var(--space-half);
	}

	.button-large {
		height: var(--space-three-quarter);
		padding: 0 calc(var(--space-three-quarter)/2);
		font-size: 1.8rem;
		line-height: var(--space-three-quarter);
		border-radius: var(--space-three-quarter);
	}
}
@media( min-width: 1480px ) {
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		padding: 0 calc(var(--space-half)/2);
		height: var(--space-half);
		font-size: 1.6rem; 
		line-height: var(--space-half);
		border-radius: var(--space-half);
	}

	.button-large {
		padding: 0 calc(var(--space-three-quarter)/2);
		height: var(--space-three-quarter);
		font-size: 2.6em;
		line-height: var(--space-three-quarter);
		border-radius: var(--space-three-quarter);
	}
}








/*
 *
 *	Forms
 *
 */

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
input[type="date"],
textarea,
select {
	height: var(--space-three-quarter);
	padding: 11px calc(var(--space-three-quarter)/2); /* This vertically centers text on FF, ignored by Webkit */
	font-size: 1.4rem;
	color: var(--dark);
	background-color: var(--off-light);
	border: 0;
	border-radius: var(--space-three-quarter);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

textarea {
	min-height: var(--space-double);
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
textarea:focus,
select:focus {
	outline: 0;
	box-shadow: 0px 2px 6px rgba(20,20,10,0.5);
}

@media( min-width: 640px )  {
	input[type="email"],
	input[type="number"],
	input[type="search"],
	input[type="text"],
	input[type="tel"],
	input[type="url"],
	input[type="password"],
	input[type="date"],
	textarea,
	select {
		height: var(--space-three-quarter);
		padding: 11px calc(var(--space-three-quarter)/2); /* This vertically centers text on FF, ignored by Webkit */
		font-size: 1.4rem;
	}
}
@media( min-width: 1040px ) {
	input[type="email"],
	input[type="number"],
	input[type="search"],
	input[type="text"],
	input[type="tel"],
	input[type="url"],
	input[type="password"],
	input[type="date"],
	textarea,
	select {
		height: var(--space-half);
		padding: 11px calc(var(--space-half)/2); /* This vertically centers text on FF, ignored by Webkit */
		font-size: 1.5rem;
	}
}
@media( min-width: 1480px ) {
	input[type="email"],
	input[type="number"],
	input[type="search"],
	input[type="text"],
	input[type="tel"],
	input[type="url"],
	input[type="password"],
	input[type="date"],
	textarea,
	select {
		height: var(--space-half);
		padding: 11px calc(var(--space-half)/2); /* This vertically centers text on FF, ignored by Webkit */
		font-size: 1.8rem;
	}
}




/*
 *
 *	Fills
 *
 */

.fill-light {
	color: var(--off-dark);
	background-color: var(--light); }
.fill-off-light {
	color: var(--off-dark);
	background-color: var(--off-light); }
.fill-neutral {
	color: var(--dark);
	background-color: var(--neutral); }
.fill-off-neutral {
	color: var(--dark);
	background-color: var(--off-neutral); }
.fill-dark {
	color: var(--off-light);
	background-color: var(--dark); }
.fill-off-dark {
	color: var(--off-light);
	background-color: var(--off-dark); }
.fill-black {
	color: var(--off-light);
	background-color: var(--black); }




/*
 *
 *	Text Color
 *
 */

.text-light {
	color: var(--light); }
.text-off-light {
	color: var(--off-light); }
.text-neutral {
	color: var(--neutral); }
.text-off-neutral {
	color: var(--off-neutral); }
.text-dark {
	color: var(--dark); }
.text-off-dark {
	color: var(--off-dark); }
.text-black {
	color: var(--black); }







/*
 *
 *	Vertical Spacing
 *
 */

.space-one-top-bottom { padding: var(--space-one) 0; }
.space-one-top { padding: var(--space-one) 0 0 0; }
.space-one-bottom { padding: 0 0 var(--space-one) 0; }

.space-half-top-bottom { padding: var(--space-half) 0; }
.space-half-top { padding: var(--space-half) 0 0 0; }
.space-half-bottom { padding: 0 0 var(--space-half) 0; }

.space-three-quarter-top-bottom { padding: var(--space-three-quarter) 0; }
.space-three-quarter-top { padding: var(--space-three-quarter) 0 0 0; }
.space-three-quarter-bottom { padding: 0 0 var(--space-three-quarter) 0; }

.space-double-top-bottom { padding: var(--space-double) 0; }
.space-double-top { padding: var(--space-double) 0 0 0; }
.space-double-bottom { padding: 0 0 var(--space-double) 0; }




