
<IfModule mod_rewrite.c>

RewriteEngine On

# The Home Page
RewriteRule ^/?$ pages/home.php [QSA,L,NC]

# The Pricing page
RewriteCond "%{DOCUMENT_ROOT}%{REQUEST_URI}" !-f
RewriteRule ^/?pricing(/.*)?$ https://%{HTTP_HOST}/secret-soil-pricing/pricing$1 [P]

# The Quotes page
RewriteCond "%{DOCUMENT_ROOT}%{REQUEST_URI}" !-f
RewriteRule ^/?quote(/.*)?$ https://%{HTTP_HOST}/secret-soil-pricing/quote$1 [P]

# The Construction Update pages
RewriteRule ^/?construction$ pages/construction.php?_post_type=construction_updates [QSA,L,NC]
RewriteRule ^/?construction/(.+)$ pages/construction.php?_post_type=construction_updates&_slug=$1 [QSA,L,NC]

RewriteRule ^/?checkin pages/checkin.php [QSA,L,NC]
# Brochure page
RewriteRule ^/?brochure pages/brochure.php [QSA,L,NC]
# Review page
RewriteRule ^/?review pages/review.php [QSA,L,NC]


# Tracking and Analytics
RewriteRule ^/?trac/ pages/tracking.php [QSA,L,NC]

# (smart?) Page routing
# RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
# RewriteCond %{REQUEST_URI} ^/?([^/]+)/?
# RewriteCond %{DOCUMENT_ROOT}/pages/%1.php -f
# RewriteRule .? pages/%1.php?_slug=%1 [QSA,L,NC]

# Redirect URLs with trailing slashes to versions without
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule .? %1 [R=301,QSA,L,NC]

</IfModule>
