
.phone-form {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}
.phone-form .container-phone-country-code {
	position: relative;
}
.phone-form .container-phone-country-code select {
	width: 100%;
	opacity: 0;
}
.phone-form .container-phone-country-code .container-country-code-label {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--off-light);
	color: var(--dark);
	font-size: 1.4rem;
	pointer-events: none;
}

.otp-form {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}
