/*
 * Contact Section
 */

.construction-banner {
	position: relative;
	font-size: 0;
	line-height: 0;
	padding-top: 50%;
	min-height: 250px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.construction-section {}


/* -- Timelapse -- */

.construction-section .timelapse {}

.construction-section .timelapse .timelapse-container .timelapse-box { 
	position: relative;
	z-index: 1;
	overflow: hidden;
	border-radius: var(--space-quarter);
	box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.2), 0px 0px 3px 1px rgba(0,0,0,0.1);
	height: 0;
	padding-top: 110%;
}

.construction-section .timelapse .timelapse-container .timelapse-box img {
	position: absolute;
	z-index: 1;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: auto;
	transform: translateY(5%);
}

@media( min-width: 640px )  {}

@media( min-width: 1040px ) {
	.construction-section .timelapse { 
		margin-top: 120px;
		margin-bottom: 320px;
	}

	.construction-section .timelapse .timelapse-container {
		position: absolute;
		left: 0;
	}

	.construction-section .timelapse .timelapse-container .timelapse-box { 
		padding-top: 90%;
		transform: translateY(-25%);
	}

	.construction-section .timelapse .timelapse-container .timelapse-box img {
		transform: translateY(10%);
	}
	
}
@media( min-width: 1480px ) {
	.construction-section .timelapse { 
		margin-top: 180px;
		margin-bottom: 460px;
	}
}


/* -- Status -- */

.construction-section .status {
	margin-top: -225px;
}

.construction-section .status .title,
.construction-section .status .point {
	margin-bottom: 5px;
}

.construction-section .status .title { margin-top: var(--space-half); }

@media( min-width: 640px )  {}
@media( min-width: 1040px ) {
	.construction-section .status .title { margin-top: 0; }
	.construction-section .status .point + .title { margin-top: var(--space-half); }

	.construction-section .row .container { direction: rtl; }
	.construction-section .row .container * { direction: ltr; }
}
@media( min-width: 1480px ) {
	.construction-section .status {
		margin-top: -325px;
	}
}




/* -- Gallery -- */

.construction-section .construction-gallery {
	position: relative;
}

.construction-section .gallery {
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;

	padding: var(--space-half) calc( (100vw - var(--container-width))/2 );
	scroll-snap-type: x mandatory;
}

.construction-section .gallery .image {
	display: inline-block;
	padding: 5px;
	scroll-snap-align: center;
}

.construction-section .gallery .image img {
	width: auto;
	height: calc(var(--space-one)*4);

	box-shadow: 0 0 1px 2px rgba(0, 50, 50, 0.03), 0 1px 1px 2px rgba(0, 50, 50, 0.03), 0 -1px 1px 2px rgba(0, 50, 50, 0.03), 0 0 1px 5px rgba(0, 50, 50, 0.05);
}

@media( min-width: 1040px ) {
	.construction-section .gallery {
		overflow-x: hidden;
	}
}
