/*
 * Navigation Section
 */

.navigation-section {
	position: relative;
	z-index: 100;
}

/* -- Menu 1 -- */
.navigation-section .menu-1 {
	position: absolute;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: 1;

	background-color: rgba(0,0,0,0.85);
	font-size: 0;
	color: var(--light);

	transition: transform 0.3s ease-out;
}
	/*- For when the Primary Navigation menu has to slide out of the viewport -*/
.navigation-section .menu-1.hide {
	transform: translateY( -100% );
}


.navigation-section .menu-1 .logo {
	position: relative;
	z-index: 10;
	display: inline-block;
	line-height: var(--space-one);
}

.navigation-section .menu-1 .logo img {
	width: auto;
	height: 20px;
	transform: translateY(3px);
}

.navigation-section .menu-1 .menu-toggle {
	position: relative;
	z-index: 10;
	cursor: pointer;
	opacity: 0.5;
	line-height: var(--space-one);
	padding: 0 var(--space-quarter);
	transition: opacity .3s ease-out;
}

.navigation-section .menu-1 .menu-toggle:hover,
.navigation-section .menu-1 .menu-toggle:focus {
	opacity: 1;
}

.navigation-section .menu-1 .link-tray {
	position: absolute;
	z-index: 9;
	top: calc( var(--space-one) * -5 );
	right: 0;
	display: block;
	width: 100%;
	height: auto;
	opacity: 0;
	background-color: rgba(0,0,0,1);
	transition: top .3s ease-out, opacity .3s .15s ease-out;
}

.navigation-section .menu-1 .link-tray.show {
	opacity: 1;
	top: var(--space-one);
	box-shadow: 0 0 1px 2px rgba(0,0,0,0.1), 0 0 3px 5px rgba(0,0,0,0.15);
}
.navigation-section .menu-1 .link-tray.show .close-link-tray {
	position: fixed;
	z-index: 1;
	top: var(--space-one);
	left: 0;
    width: 100%;
    height: 100vh;
	/*background-color: rgba(0,0,255,0.5);*/
}

.navigation-section .menu-1 .link-tray .link {
	position: relative;
	z-index: 2;
	display: block;
	text-align: right;
	color: inherit;
	text-decoration: none;
	padding: 0 var(--space-quarter);
	line-height: var(--space-one);
	transition: all .3s ease-out;
}

.navigation-section .menu-1 .link-tray .link:hover {
	color: var(--green);
}
.navigation-section .menu-1 .link-tray .link.fill-green:hover {
	color: var(--green);
	background-color: var(--light);
}

.navigation-section .menu-1 .link-tray .link.back {
	display: inline-flex;
	align-items: baseline;
	justify-content: flex-end;
	width: 100%;
	padding-left: 0;
}
	.navigation-section .menu-1 .link-tray .link.back img {
		align-self: center;
		width: 3rem;
	}

@media( min-width: 640px )  {
	.navigation-section .menu-1 .link-tray {
		width: 50%;
	}
}

@media( min-width: 1040px ) {
	.navigation-section .menu-1 .logo {
		line-height: var(--space-three-quarter);
	}
	.navigation-section .menu-1 .logo img {
		height: 23px;
		transform: translateY(3px);
	}

	.navigation-section .menu-1 .link-tray.show,
	.navigation-section .menu-1 .link-tray {
		opacity: 1;
		position: relative;
		top: auto;
		right: auto;
		display: inline-block;
		width: auto;
		float: right;
		background-color: transparent;
		box-shadow: none;
	}

	.navigation-section .menu-1 .link-tray .link {
		display: inline-block;
		line-height: var(--space-three-quarter);
	}

	.navigation-section .menu-1 .link-tray .link.back {
		width: auto;
		justify-content: normal;
	}
}
@media( min-width: 1480px ) {
	.navigation-section .menu-1 .logo img {
		height: 31px;
		transform: translateY(5px);
	}
}




/* -- Menu 2 -- */
.navigation-section .menu-2 {
	position: absolute;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: 2;

	background-color: rgba(0,0,0,0.85);
	padding-bottom: env(safe-area-inset-bottom);
}

.navigation-section .menu-2 .link-tray {
	position: relative;
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	padding: 0px calc( (100vw - var(--container-width))/2 );
	scroll-snap-type: x mandatory;
}

.navigation-section .menu-2 .link-tray .link {
	position: relative;
	z-index: 1;
	display: inline-block;
	color: inherit;
	text-align: center;
	text-decoration: none;
	line-height: var(--space-one);
	padding: 0 var(--space-half);
	opacity: 0.5;
	scroll-snap-align: center;
	transition: all .3s .2s ease-out;
}

.navigation-section .menu-2 .link-tray .link:after {
	content: '';
	position: absolute;
	z-index: 2;
	display: block;
	top: 0;
	left: 50%;
	height: 5px;
	background-color: var(--green);
	width: 0%;
	transform: translateX(-50%);
	transition: all .3s .2s ease-out;
}

.navigation-section .menu-2 .link-tray .link:hover,
.navigation-section .menu-2 .link-tray .link.active {
	opacity: 1;
	transition: all .3s .0s ease-out;
}

.navigation-section .menu-2 .link-tray .link:hover:after,
.navigation-section .menu-2 .link-tray .link.active:after {
	width: 100%;
	transition: all .3s .0s ease-out;
}

@media( min-width: 640px )  {}
@media( min-width: 1040px ) {
	.navigation-section .menu-2 .link-tray {
		text-align: center;
	}

	.navigation-section .menu-2 .link-tray .link {
		line-height: var(--space-half);
		padding: 0 var(--space-quarter);
	}

	.navigation-section .menu-2 .link-tray .link:after {
		height: 4px;
	}
}
@media( min-width: 1480px ) {
	.navigation-section .menu-2 .link-tray .link:after {
		height: 6px;
	}
}
