/*
 * XLarge 4BHK Section 
 */


.xlarge-4bhk-section.section-bg { padding-bottom: 260px; }

@media( min-width: 400px )  { .xlarge-4bhk-section.section-bg { padding-bottom: 460px; } }
@media( min-width: 640px )  { .xlarge-4bhk-section.section-bg { padding-bottom: 600px; } }
@media( min-width: 800px )  { .xlarge-4bhk-section.section-bg { padding-bottom: 800px; } }
@media( min-width: 1040px ) { .xlarge-4bhk-section.section-bg { padding-bottom: 880px; } }
@media( min-width: 1200px ) { .xlarge-4bhk-section.section-bg { padding-bottom: 1100px; } }
@media( min-width: 1480px ) { .xlarge-4bhk-section.section-bg { padding-bottom: 1200px; } }
@media( min-width: 1600px ) { .xlarge-4bhk-section.section-bg { padding-bottom: 1400px; } }
@media( min-width: 1940px ) { .xlarge-4bhk-section.section-bg { padding-bottom: 70%; } }