/*
 * Contact Single
 */

.construction-single-banner {
	position: relative;
	font-size: 0;
	line-height: 0;
	padding-top: 50%;
	min-height: 250px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

}

.construction-single-banner .return a {
	transform: translateY(50%);
}

.construction-single {}


/* -- Status -- */

.construction-single .status .title,
.construction-single .status .point {
	margin-bottom: 5px;
}

.construction-single .status .title { margin-top: var(--space-half); }

@media( min-width: 640px )  {}
@media( min-width: 1040px ) {
	.construction-single .status .title { margin-top: 0; }
	.construction-single .status .point + .title { margin-top: var(--space-half); }
}
@media( min-width: 1480px ) {}




/* -- Gallery -- */

.construction-single .column-gallery {
	/*columns: 2;*/
	/*column-gap: 4px*/
}

.construction-single .column-gallery .image {
	position: relative;
	z-index: 1;
	cursor: pointer;
	overflow: hidden;
}

.construction-single .column-gallery .image:after {
	content: '';
	display: block;
	position: absolute;
	z-index: 2;
	right: 0%;
	bottom: 0%;
	background-image: url('../../media/glyph/24-zoom-in.svg');
	background-color: rgba(0,0,0,0.65);
	background-size: 24px 24px;
	background-position: 75% 75%;
	background-repeat: no-repeat;
	width: 48px;
	height: 48px;
	border-top-left-radius: 100%;
	box-shadow: 0px 0px 100px 50px rgba(0,0,0,0.5);
	opacity: 0;
	transition: opacity .1s .3s ease-in-out;
}

.construction-single .column-gallery .image:hover:after {
	transition: opacity .3s ease-in-out;
	opacity: 1;
}

.construction-single .column-gallery .image * {
	pointer-events: none;
}

.construction-single .column-gallery .image .caption {
	display: block;
	width: 100%;
	height: auto;
	padding: 5px;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow-x: hidden;
	background-color: rgba(0,0,0,0.65);
	opacity: 0;
	transition: opacity .1s .3s ease-in-out;
}

.construction-single .column-gallery .image:hover .caption {
	transition: opacity .3s ease-in-out;
	opacity: 1;
}


@media( min-width: 640px )  {
	.construction-single .column-gallery {
		columns: 2;
		column-gap: 4px
	}
}

@media( min-width: 1040px ) {}
@media( min-width: 1480px ) {
	.construction-single .column-gallery .image .caption {
		padding: 8px;
	}
}

/* Minimum aspect ratio */
.construction-single-banner {}
.construction-single-banner .scroll {
		display: none;
		position: fixed;
		bottom: 50px;
		left: 50%;
		text-align: center;
		width: auto;
		/*background-color: rgba(0,255,255,0.5);*/
		padding: 10px 20px 25px 20px;
		transform: translateX(-50%);
}

.construction-single-banner .scroll .icon-scroll {
	display: inline-block;
	position: relative;
}

.construction-single-banner .scroll .icon-scroll:before {
	position: absolute;
	left: 50%;
}

.construction-single-banner .scroll .icon-scroll:after {
	display: block;
	left: 50%;
	content: 'Scroll';
	position: absolute;
	bottom: 0;
	font-size: 12px;
	transform: translate(-50%, 12px);
	color: var(--light);
	text-transform: uppercase;
	font-weight: 700;
}

.construction-single-banner .scroll .icon-scroll {
	width: 30px;
	height: 50px;
	/*margin-left: -20px;*/
	bottom: 0;
	/*margin-top: -25px;*/
	box-shadow: inset 0 0 0 2px #fff;
	border-radius: 25px;
}
.construction-single-banner .scroll .icon-scroll:before {
	content: '';
	width: 4px;
	height: 10px;
	background: #fff;
	margin-left: -2px;
	top: 15px;
	border-radius: 4px;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-name: scroll;
	animation-name: scroll;
}
@-webkit-keyframes scroll {
  0% {
	opacity: 1;
  }
  100% {
	opacity: 0;
	-webkit-transform: translateY(30px);
	transform: translateY(30px);
  }
}
@keyframes scroll {
  0% {
	opacity: 1;
  }
  100% {
	opacity: 0;
	-webkit-transform: translateY(30px);
	transform: translateY(30px);
  }
}

	
@media (min-aspect-ratio: 16/9) {
	.construction-single-banner .scroll {
		display: block;
	}
}
